{% extends 'layout.html' %}
{% block content %}

<style>

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content img {
    max-width: 100px;
    margin-bottom: 20px;
}
.main-content h1 {
    font-size: 2em;
    color: black;
}
.main-content p {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}
</style>
</head>
<body>

<div class="main-content">
<img src="../static/assets/carrinho.png" alt="Carrinho">
<h1>Seu carrinho está vazio</h1>
<p>Vá para a página inicial ou procure no site os produtos que vão te deixar feliz.</p>
<p>Quando encontrá-los, clique no botão carrinho ;)</p>
</div>
</body>
</html>

{% endblock %}