{% extends 'layout.html' %}
{% block content %}

<style>
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            
        }
        
        .form-container {
            background-color: #333;
            padding: 25px;
            border-radius: 10px;
            color: white;
            width: 400px;
        }
        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-container input, .form-container textarea {
            width: calc(50% - 10px);
            padding: 10px;
            margin: 5px;
            border: none;
            border-radius: 5px;
        }
        .form-container textarea {
            width: calc(100% - 20px);
            height: 100px;
        }
        .form-container .submit-button, .botao {
            background-color: rgb(255, 0, 0);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 100%;
            margin-top: 10px;
            cursor: pointer;
        }
        .info {
            padding-top: 60px;
            text-align: center;
            color: white;
        }
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #7d7b7b;
        }
        .form-container .submit-button:hover {
            background-color: rgb(200, 0, 0);
        }
        
        .voltar {
            margin: 5px;
            text-decoration: none;
        }

</style>

<br>
<br>

<div class="info">
    Informações:<br>
    Dúvidas, sugestões, reclamações ou pedidos,<br>
    contate nossa equipe.<br>
    N° (17) 3453-6666
</div>

{% if concluido %}

<div class="content">
    <div class="form-container">
        <h2>CONTATO PELO E-MAIL</h2>
        <p>Seu contato foi enviado para nossos sistemas com sucesso!</p>
        <a class="botao voltar" href="/">VOLTAR PARA A PÁGINA INICIAL</a>
    </div>
</div>

{% else %}

<div class="content">
    <div class="form-container">
        <h2>CONTATO PELO E-MAIL</h2>
        <form method="POST">
            <input type="text" name="nome" id="nome" placeholder="NOME" required>
            <input type="email" name="email" id="email" placeholder="E-MAIL" required>
            <input type="text" name="cidade" id="cidade" placeholder="CIDADE" required>
            <input type="text" name="telefone" id="telefone" placeholder="TELEFONE" required>
            <input type="text" name="assunto" id="assunto" placeholder="ASSUNTO" style="width: 375px;" required>
            <textarea name="mensagem" id="mensagem" placeholder="MENSAGEM" style="max-width: 375px;"></textarea>
            <button type="submit" class="submit-button">ENVIAR</button>
        </form>
    </div>
</div>

{% endif %}

{% endblock %}