{% extends 'layout.html' %}
{% block content %}
<style>
    .subcontent {
        text-align: left;
        color: #000000;
        left: 50px;
        font-size: 50px;
        position: absolute;
        bottom: -400px;

    }

    .content {
        text-align: left;
        color: #000000;
        font-size: 18px;
        left: 50px;
        position: absolute;
        bottom: -570px;
    }

    .image {
        text-align: right;
        position: absolute;
        right: 17%;
        bottom: -635px;
    }

    .title {
        color: #000000;
        left: 50px;
        position: absolute;
        font-size: 200px;
    }
    
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

    .container{
        margin: 50px;
    }

    .container-flex {
        display: flex;
    }

div {
    position: relative;
  
}
</style>

<div class="conteudo">
    <h1 class="title">404</h1>
    <div class="subcontent" >Página não encontrada</div>
    <div class="content" style="text-align: center;">A página que você procura não existe ou não está disponível no momento.</div>
    <img src="../static/assets/pombo.png" width="400px" height="600px" class="image">
</div>
        
{% endblock %}