{% extends 'layout.html' %}
{% block content %}

<style>

.content {
            text-align: center;
            color: #ffffff;
            font-size: 18px;
            margin: 130px auto;
            max-width: 800px;
            line-height: 1.6;
        }

        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #7d7b7b;
        }

</style>


    <div class="content">
        Essa empresa foi feita em 2010, com cinco integrantes para o início da empresa.
        Pensamos em fazermos um site de venda de equipamentos de setup a partir da ideia
        que durante a criação estava valorizando os equipamentos de tecnologia e sendo
        essencial para a vida humana.
    </div>

</div>

{% endblock %} 