{% extends 'layout.html' %}
{% block content %}

<style>

.content {
    position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #0008;
        }

        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url("../static//images/1658863354-86277172-artecapasetup-gamer-560x347.avif");
            background-size: 225vh;
        }

        .texto {
            color: #ffffff;
            font-size: 18px;
            width: 70vh;
        }

        .titulo {
            color: #ffffff;
            margin-bottom: 5px;
        }

</style>

    <div class="content">
        <h1 class="titulo">SOBRE A EMPRESA</h1>
        <p class="texto">
            Essa empresa foi feita em 2010, com cinco integrantes para o início da empresa.
            Pensamos em fazermos um site de venda de equipamentos de setup a partir da ideia
            que durante a criação estava valorizando os equipamentos de tecnologia e sendo
            essencial para a vida humana.
        </p>
    </div>

{% endblock %} 